################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/Flora Fable/v17
/.vs/Flora Fable/FileContentIndex/2b3364ee-85a6-4ea7-908c-a8198e0b7094.vsidx
